<div class="layoutA">
    <h1 class="center header1">Apply Now</h1>
    <form name="applyForm" ng-show="isFormShowing">
        <div class="small-margin">
            <input class="formInput" type="text" placeholder="Name:" ng-model="applyFormData.name" required>
        </div>
        <div class="small-margin">
            <input class="formInput" type="email" placeholder="Email:" ng-model="applyFormData.email">
        </div>
        <div class="small-margin">
            <input class="formInput" type="text" placeholder="Country:" ng-model="applyFormData.country">
        </div>
        <div class="small-margin">
            <input class="formInput" type="number" placeholder="Phone Number:" ng-model="applyFormData.phoneNumber">
        </div>
        <div class="small-margin">
            <input class="formInput" type="text" placeholder="Address:" ng-model="applyFormData.address">
        </div>
        <div class="small-margin">
            <select class="formInput" name="phoneModel" ng-model="applyFormData.phoneMobel">
                <option value="" disabled selected>Select your phone model</option>
                <option value="Samsung">Samsung</option>
                <option value="iPhone">iPhone</option>
                <option value="LG">LG</option>
                <option value="HTC">HTC</option>
                <option value="Google">Google</option>
                <option value="Huawei">Huawei</option>
            </select>
        </div>
        <div class="small-margin">
            <button class="formInput" ng-click="submitApplyForm()">
                Submit
            </button>
        </div>
    </form>
    <p class="small-margin center" ng-show="isSuccessfulSubmit">
        Thank You For Submission
    </p>
    <p class="small-margin center" ng-show="isErrorShowing">
        Sorry We Could not Process the Application at the Time
    </p>
</div>