/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  height: 80px;
}

.menu > li {
    display: inline;
    line-height: 80px;
    color: white;
    float: right;
}

.menu > li a{
    text-decoration: none;
    color: white;
    padding: 0 15px 0 15px;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
  float: right;
}

.logo{
    float: left;
    margin: 16px 0 0 40px;
}

.container {
    margin: auto;

}
.center {
    text-align: center;
}

.footer{
    text-align: center;
}

.header1{
    font-size: 38px;
    color: #666;
}

.layoutA{
    width: 650px;
    margin: auto;
}

.formInput{
    width: 100%;
    height: 40px;
}

.small-margin{
    margin: 10px;
}
.line-heightA{
    line-height: 25px;
}
.visibility_hidden {
    visibility: hidden;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mobileMenu{
    display: none;
}

@media (max-width: 650px) {
    .layoutA{
        width: 100%;
        margin: auto;
    }

    .menu > li {
        display: none;
    }

    .mobileMenu{
        display: block;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 20px;
    }

    .showMobileMenu{
        display: block !important;
        float: left !important;
        width: 100% !important;
        line-height: 20px !important;
        text-align: center !important;
    }

    .menuHeight{
        height: 150px;
    }
    .menu > li + li:before{
        content: "" !important;
    }
}