<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Knowroaming assignment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="Controllers/AboutUs/aboutUs.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body  ng-controller="AppCtrl">
    <div class="container">
        <div class="logo">
            <img src="Assets/Images/logo_white.png">
        </div>
        <a class="mobileMenu" ng-click="mobileMenu = !mobileMenu;">
            MENU
        </a>
        <ul ng-class="{'menuHeight':mobileMenu}" class="menu">
            <li ng-class="{'showMobileMenu':mobileMenu}"><a href="#!/applyNow">Apply now</a></li>
            <li ng-class="{'showMobileMenu':mobileMenu}"><a href="#!/contactUs">Contact Us</a></li>
            <li ng-class="{'showMobileMenu':mobileMenu}"><a href="#!/aboutUs">About Us</a></li>
        </ul>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-view></div>

        <div class="footer">© 2017 KnowRoaming</div>
    </div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="Controllers/ApplyNow/applyNow.js"></script>
<script src="Controllers/AboutUs/aboutUs.js"></script>
<script src="Controllers/ContactUs/contactUs.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
