<div class="layoutA">
    <h1 class="center header1">Contact Us</h1>
    <div class="center">
        <div class="small-margin">
            Our Phone Number: 1-888-357-7347
        </div>
        <div class="small-margin">
            Our Address: KnowRoaming Ltd. 701-90 Eglinton Ave. E. Toronto, ON M4P 2Y3
        </div>
        <br>
        <form name="contactForm" ng-show="isFormShowing">
            <div class="small-margin">
                <input class="formInput" type="number" placeholder="Your phone number" ng-model="contactData.phoneNumber" required>
            </div>
            <div class="small-margin">
                <input class="formInput" type="text" placeholder="Your name: " ng-model="contactData.name" required>
            </div>
            <div class="small-margin">
                <input class="formInput" type="email" placeholder="Your email address: " ng-model="contactData.email" required>
            </div>
            <div class="small-margin">
                <button class="formInput" ng-click="submitContactForm()">
                    Submit
                </button>
            </div>
        </form>
        <div ng-show="!isFormShowing">
            Sorry We Could not Process the Application at the Time
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal" ng-show="isModalShowing">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" ng-click="closeModalWindow()">&times;</span>
            <p>Thank You for your submission, someone will be in touch with you shortly</p>
        </div>

    </div>
</div>