<div class="layoutA">
    <h1 class="center header1">About Us</h1>
    <div class="line-heightA">
        <p class="small-margin">
            Based in Toronto, Canada, KnowRoaming is an innovative telecommunications company focused on helping businesses and consumers save big and manage their roaming.
        </p>
        <div class="au_hiddenDiv" ng-mouseover="hoverHiddenDiv()"></div>
        <p class="small-margin">
            Our roaming solutions offer low rates and in-app control of spending. Our products include: The KnowRoaming Global SIM Sticker, The KnowRoaming Global SIM Card and The KnowRoaming Global Hotspot.
        </p>
        <p class="small-margin">
            KnowRoaming operates a mobile network operator (MNO) based in the United States, holding a regional US spectrum license. The network operator is also a full member of the GSM Association (GSMA), allowing us to enter direct roaming agreements with top-tier mobile networks, giving our customers global roaming access. This allows us to constantly pass on lower rates and significant savings to our customers.
        </p>
    </div>
</div>
